*{
    color: whitesmoke;
}
.contenedor_principal{
    background-color:rgb(31, 31, 31);
    max-width: 1050px;  
}
.contenedor_nombre{
    margin:50px;
}
#foto_cv{
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    border: 6px goldenrod solid;
    border-radius: 50%;
    
}
.nombre{
    color: gold;
}
.ocupacion{
    color: lightslategray;
}
.amarillo{
    color:gold;
    text-decoration: none;
}
#img_pie{
    padding: 0px;
    height: 200px;
}
#img_head{
    padding: 0px;
    height: 200px;
}
.super_contenedor_nombre_foto{
    margin-bottom: 10%;
}
#bio_personal{
    
}
#exp_laboral{

}
#info_contacto{

}
#histo_academico{

}
#ref_persona{

}